project:
  type: website

website:
  navbar:
    logo: resources/images/uu_blacktext.png
    logo-href: "https://www.uu.nl/"
    left:
      - href: index.qmd
        text: MATILDA
      - href: navigation.qmd
        text: Where do I start?
      - href: experts.qmd
        text: Our experts
  sidebar:
    style: "docked"
    collapse-level: 1
    contents:
      - href: intensive-longitudinal-data.qmd
        text: "About ILD"
      - href: processes.qmd
        text: "About processes"
      - text: "---"
      - section: "Your study"
        href: your-study/your-study.qmd
        contents:
          - href: your-study/research-question.qmd
            text: "Research question"
          - href: your-study/theory.qmd
            text: "Theory"
          - href: your-study/constructs.qmd
            text: "Constructs"
      - section: "Substantive theory"
        href: substantive-theory/substantive-theory.qmd
        contents:
          - href: substantive-theory/time-scale.qmd
            text: "Time scale"
          - href: substantive-theory/ergodicity.qmd
            text: "Ergodicity"
          - href: substantive-theory/context-events.qmd
            text: "Context and events"
          - href: substantive-theory/distributions.qmd
            text: "Distributions"
      - section: "Measurement theory"
        href: measurement-theory/measurement-theory.qmd
        contents:
          - href: measurement-theory/item.qmd
            text: "Item"
          - href: measurement-theory/instrument.qmd
            text: "Instrument"
          - href: measurement-theory/sampling.qmd
            text: "Sampling"
          - href: measurement-theory/validation.qmd
            text: "Validation"
          - href: measurement-theory/measurement-model.qmd
            text: "Measurement model"
      - text: "---"
      - href: template.qmd
        text: "Template Page"
  page-footer:
    left: "Copyright 2023, Dynamic Modelling Lab"
    right: |
      [![](https://erc.europa.eu/sites/default/files/inline-images/LOGO_ERC-FLAG_FP.png){fig-alt="European Research Council" width=200px}](https://erc.europa.eu/homepage)

format:
  html:
    theme:
      - resources/styles/custom.scss
    header-includes: <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
    css: resources/styles/styles.css
    csl: resources/styles/apa.csl
    toc: true

editor: visual

