/*-- scss:defaults --*/

// UU colors
$UUyellow: #FFCD00 !default;
$UUred: #C00A35 !default;
$UUblue: #5287C6 !default; //UU blue does not exist, made it up.
$UUdarkblue: #001240 !default;
$white: #FFF !default;
$black: #000 !default;

// Base theme colors 
$primary:		  $UUyellow !default;
$secondary:  	$white !default;

// Yellow (top) Navbar
//$navbar-fg: 	$black !default;
//$navbar-hl:		$white !default;

// Black (top) Navbar - should then change UU logo to have white text
$navbar-bg: 	$black !default;
$navbar-fg: 	$white !default;
$navbar-hl:		$primary !default;

// Yellow Sidebar
//Sidebar-hl doesn't turn white with bg UUyellow, it does when bg is UUblue
//I'm guessing this has something to do with a contrast setting somewhere, not sure which one/where
//Oddly it works fine for the navbar settings
//The text in the sidebar that is not a link also does not turn black with sidebar-fg command
//$sidebar-hl:	$white !default;
//$sidebar-bg:	$UUyellow !default;
//$sidebar-fg: 	$black !default;

//Black sidebar
//$sidebar-hl:	$primary !default;
//$sidebar-bg:	$black !default;
//$sidebar-fg: $white !default;

$sidebar-hl:	$UUyellow !default;
$sidebar-bg:	$white !default;
$sidebar-fg:  $black !default;

$link-color:	$black !default;
$link-color-hover:	$UUyellow !default;

$callout-color-note: $UUblue !default;
$callout-color-tip: $primary !default;
$callout-color-caution: $UUred !default;


// Fonts UU house style
// UU uses Open Sans (sans-serif) and Merriweather (serif). We now have access to both. 
$font-family-sans-serif: Open Sans !default;
$headings-font-family: Open Sans !default;

// $sidebar-fg: #2780e3;